.btnnormal {
  display: inline-block;
  box-sizing: border-box;
  padding: 2px 8px;
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  text-decoration: none;
  vertical-align: middle;
  word-spacing: -0.5px;
  letter-spacing: 0;
  text-align: center;
  white-space: nowrap;
  color: #222;
  background-color: #fff;
}

caption {
  display: none;
}

.mptitle {
  float: left;
  width: 40%;
  font-weight: normal;
  box-sizing: border-box;
}

.mpdata {
  float: left;
  width: 47%;
  padding: 0 10px;
  text-align: right;
  box-sizing: border-box;
}

section {
  position: relative;
  width: 100%;
  min-width: 1300px;
  min-height: 690px;
  margin: 0 auto;
  margin-bottom: 100px;
}

section #sectioninner {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

section #sectioninner #titleArea2 {
  width: 100%;
  min-height: 30px;
  margin: 16px auto 30px;
  padding: 14px 0 26px;
  border-bottom: 3px solid #1a1a1a;
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
}

section #sectioninner #titleArea2 h2 {
  color: #1a1a1a;
  font-size: 26px;
  font-weight: 700;
  text-align: left;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
}

/* 마이페이지 공통  */
section #sectioninner #myPagecommon {
  overflow: hidden;
  padding: 15px 0px 15px 0px;
  margin: 20px auto 0 auto;
  border: 1px solid #e3e3e3;
  border-top: 3px solid #1a1a1a;
  background: #fff;
}

section #sectioninner #myPagecommon div {
  float: left;
  width: 270px;
  padding: 10px 0 0 30px;
}

section #sectioninner #myPagecommon ul {
  float: right;
  width: 470px;
}

section #sectioninner #myPagecommon ul li {
  float: left;
  margin: 5px 0;
  padding: 0 45px;
  width: 100%;
  height: 20px;
  font-size: 13px;
  line-height: 1.6;
  vertical-align: top;
  box-sizing: border-box;
}

section #sectioninner #myPagecommon div h2 {
  font-size: 40px;
  letter-spacing: -3px;
}
/* 마이페이지 내비게이션 */
section #sectioninner #myPageMain {
  display: flex;
  justify-content: space-between;
}

section #sectioninner #myPageMain nav {
  width: 170px;
  float: left;
  margin: 36px 40px 0px 0px;
  font-size: 14px;
}

section #sectioninner #myPageMain nav div {
  display: flex;
  flex-direction: column;
}

section #sectioninner #myPageMain nav div h3 {
  padding: 13px 0px 2px;
  font-size: 24px;
  line-height: 40px;
}

section #sectioninner #myPageMain nav div a {
  display: flex;
  margin-top: 2px;
  font-size: 16px;
  line-height: 40px;
}
/* 마이페이지 내상세정보  */

section #sectioninner #myPageMain #myorderInfo {
  width: 85%;
}

section #sectioninner #myPageMain #myorderInfo h3 {
  padding: 50px 0 15px;
  font-size: 24px;
  color: #2e2e2e;
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  border-bottom: 3px solid #1a1a1a;
}

section #sectioninner table th {
  padding: 20px 0;
  border-left: 0;
  border-bottom: 1px solid #e3e3e3;
  color: #333;
  font-size: 13px;
  font-weight: 400;
  vertical-align: middle;
  background: #fff;
}

section #sectioninner table td {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 13px;
  color: #333;
  font-weight: 400;
  background-color: #fff;
  border-bottom: 1px solid #e3e3e3;
}

section #sectioninner table tfoot tr {
  text-align: right;
}
